@page
@model SupplyBlockChain_Backend.Pages.DownloadsModel
@{
    ViewData["Title"] = "Downloads";
    Layout = "IndexLayout";
}

<br /><br /><br /><br /><br /><br /><br />
                                          <p class="text-center"><strong><a href="https://www.sudeshkumar.me/SupplyBlockChain.apk" style="color:#2c3e50;">Click here to download Mobile App for Android</a></strong></p>
                                          <br /><br /><br />

