@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<br /><br /><br /><br /><br /><br /><br /><br /><br />
<h1 class="text-center text-capitalize" style="color:lightgray; font-size:6em;">Oops!</h1>
<h4 class="text-center text-capitalize" style="color:lightgray;">We've got a Problem</h4>
<br /><br />
<br /><br /><br />