@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br /><br /><br /><br /><br /><br /><br /><br /><br />
<h1 class="text-center text-capitalize" style="color:lightgray; font-size:6em;">Oops!</h1>
<h4 class="text-center text-capitalize" style="color:lightgray;">This Page is under construction!!</h4>
<br /><br />
          <div class="text-center">
              <button type="button" class="btn btn-primary" formtarget="_blank" onclick="location.href='https://github.com/sudesh1611/SupplyBlockChain_Backend'"><i class="fa fa-fw fa-github"></i> View Source Code</button>
          </div>
          <br />
          <div class="text-center">
              <a href="https://www.sudeshkumar.me/SupplyBlockChain.apk" target="_blank" download="Supply BlockChain.apk" title="Download Supply BlockChain for Android" class="btn btn-primary">Download Supply BlockChain Android App</a>
          </div>
<br />