@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br /><br /><br /><br /><br /><br /><br /><br /><br />
<h1 class="text-center text-capitalize" style="color:lightgray; font-size:6em;">Oops!</h1>
<h4 class="text-center text-capitalize" style="color:lightgray;">This Page is under construction!!</h4>
<br /><br />
      <div class="text-center">
          <button type="button" class="btn btn-primary" onclick="location.href='https://github.com/sudesh1611/SupplyBlockChain_Backend'"><i class="fa fa-fw fa-github"></i> View Source Code</button>
      </div>
<br /><br /><br />