@page
@model SupplyBlockChain_Backend.Pages.SignUpModel
@{
    ViewData["Title"] = "SignUp";
}


<h1 class="text-center" style="font-family:'Comic Sans MS';">Sign Up</h1>
<hr />
<br />
<br />
<br /><br /><br /><br /><br /><br />
<div class="text-center">
    <p>User account can only be created on Mobile App by User having Account Creation rights.</p>
</div>
<br />
<div class="text-center">
    <a href="https://www.sudeshkumar.me/SupplyBlockChain.apk" target="_blank" download="Supply BlockChain.apk" title="Download Supply BlockChain for Android" class="btn" style="background-color:#34495e;color:#FFFFFF;">Download Supply BlockChain Android App</a>
</div>
<br /><br /><br /><br /><br /><br />